.nav {
  display: flex;
  padding: 0.4% 2%;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #ff7474;
  height: 5vh;
  align-items: center;
  text-align: right;
  div {
    width: 20%;
  }
  div:nth-child(1) {
    height: inherit;
    display: flex;
    justify-content: flex-start;
  }
  img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 0.5s;
  }
  a:hover {
    color: var(--accent-color);
    transition: 0.5s;
  }
}
